.popover {
	background-color: #fafafa;
	border-radius: 1px solid #dddddd;
	margin: 16px -20px 0px -21px;
	padding: 20px 40px;
	z-index: 111;
	list-style-type: none;
	display: none;
	height: 200px;
	overflow: auto;

}
.popover::-webkit-scrollbar {
	opacity: 0;
}
.popover h2 {
	margin: 0px 0px 0px -15px;
	font-size: 20px;
}

.popover li {
	list-style-type: none;
	margin-left: -30px;
	padding: 5px;
	font-size: 18px;
}

.field:hover .prof {
	display: block;
}

.location:hover .state {
	display: block;
}
