<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/landing_page.css">
	<title>Find_a_Locum</title>
</head>
<body>
	<header>
		<nav>
			<a href="#home">Home</a>
			<a href="#feature">Feature</a>
			<a href="#about">About</a>
		</nav>
	</header>
	<section id="home">
		<img src="../static/image/_57c67533-4602-420c-ba09-e7f3f54c660e.jpeg" alt="pharmacist_smiling">
		<h1>Welcome to Find a Locum</h1>
		<h2>Connecting Healthcare Providers with Locum Opportunities</h2>
	</section>
	<section id="feature">
		<h2>Search Bar</h2>
		<p>The search bar filter's jobs by occupation and location</p>
		<img src="../static/image/home_page.jpg" alt="screenshot_app_home_page">
		<img src="../static/image/filter_nurse.jpg" alt="filtered_page">
		<h2>Dropdown Menu</h2>
		<p>A dropdown menu containg occupation that can be checked or unchecked to refine the filter</p>
		<img src="../static/image/filter_drop_down.png" alt="screen_shot_of_drop_down">
	</section>
	<section id="about">
		<h2>Why find a locum</h2>
		<p>I created Find a Locum because, as a healthcare worker myself, I often found it challenging to juggle my primary job while seeking extra income through part-time shifts. The process of finding temporary work was frustratingly time-consuming and inefficient. I wanted a solution that made it easier for healthcare professionals like me to quickly and conveniently find suitable locum opportunities. By developing this platform, I aimed to streamline the entire process, allowing us to focus more on our patients and less on the hassle of job hunting.</p>

			<a href="https://github.com/Okibe00/Find_a_Locum/tree/development">Source Code</a>

			<a href="https://www.linkedin.com/in/okibe-onmeje-bb5305139/">Connect on linkedin</a>
			<a href="https://x.com/OkibeOgomola">Connect on twitter</a>
			<a href="http://127.0.0.1:5000/home/">Sign Up</a>
	</section>

</body>
</html>
