<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact</title>
	<link rel="stylesheet" href="../static/styles/contact.css">

	<link rel="stylesheet" href="../static/styles/header.css">
</head>
<body>
	<header>
		<nav>
			<img src="../static/image/icons8-search-64.png" alt="search icon" class="home_icon">
			<a href="http://127.0.0.1:5000/home/"><div class="home">Home</div></a>
			<a href="http://127.0.0.1:5000/about/"><div class="about">About</div></a>
			<a href="http://127.0.0.1:5000/contact/"><div class="c">Contact</div></a>
		</nav>
	</header>
<div class="contact">
	<p>Email: okibe@fakedomain.com</p>
	<p>Phone: +234 52245 554782</p>
</div>
</body>
</html>
